In [1]:
#Import the necessary libraries
import pandas as pd
import numpy as ny

In [2]:
#Assign it to a variable called chipo.

chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [4]:
#See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [39]:
# What is the number of observations in the dataset?
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [13]:
# What is the number of observations in the dataset?

chipo.shape[1]

5

In [26]:
#Print the name of all the columns

chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [27]:
# How is the dataset indexed?

chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [32]:
# Which was the most ordered item?

chipo['item_name'].value_counts().index[0]

'Chicken Bowl'

In [47]:
#How many items were ordered?

chipo.quantity.sum()

4972

In [45]:
# What was the most ordered item in the choice_description column

chipo['choice_description'].value_counts().index[0]

'[Diet Coke]'

In [48]:
#How many items were orderd in total?

chipo.quantity.sum()

4972

In [84]:
#Turn the item price into a float

chipo['item_price'] = chipo['item_price'].astype('float')

chipo.item_price.dtype

dtype('float64')

In [69]:
#How much was the revenue for the period in the dataset?

chipo['revenue'] = (chipo['item_price']*chipo['quantity'])
chipo['revenue'].sum()

39237.02

In [78]:
#How many orders were made in the period?

chipo['order_id'].value_counts().count()

1834

In [89]:
#What is the average amount per order?

chipo.groupby('order_id')['revenue'].agg('mean')

order_id
1        2.890000
2       33.960000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: revenue, Length: 1834, dtype: float64

In [94]:
#How many different items are sold?

chipo['item_name'].nunique()

50